@model IEnumerable<WebApplication1.Models.Item>

@{
    ViewBag.Title = "Meat";
}


<div class="jumbotron">
    <h2>The list of all Meat</h2>

</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a id="btn_add" href="@Url.Action("Add", "AddToCart", item)" class="btn btn-info btn-lg">
                    <span class="addToOrder"></span> Add To Order
                </a>
            </td>
        </tr>
    }

</table>