@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.ItemOrder>


@{
    ViewBag.Title = "Myorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
.label
{

    font-size: 10pt;
    font-weight: bold;
    font-family: Arial,serif;
}

</style>

<div id="dvContents">

    <table class="table table-hover">
        <thead>
        <tr>

            <th>Item Name</th>
            <th>Item Description</th>
            <th>Price</th>
            <th>Remove</th>

        </tr>
        </thead>

        <tbody>


        @foreach (var x in Model)
        {
            <tr>
                    <td>@x.itemName</td>
                    <td>@x.itemID</td>
                    <td>dkk @x.price</td>
                    <td>
                        <button id="btn_delete" class="label label-primary" data-slno="@x.itemID" onclick="location.href='@Url.Action("Remove", "AddToCart", x)'">
                            <img src="~/Icons/delete.png" height="30" width="30" alt=""/>
                        </button>
                    </td>
                </tr>
            }


        </tbody>
        @{
            decimal sum = 0;
        }


         @foreach (var x in Model)
         {
             sum = Convert.ToDecimal(x.price) + sum;
         }
        <tfoot>
        <tr>
            <td></td>
            <td></td>

            <td>
                <b>Total</b>
            </td>
            <td>
                dkk @sum
            </td>
        </tr>

        </tfoot>

    </table>
    <td>
        <form action="@Url.Action("addToCart", "AddToCart")" method="post">
            <button type="submit" id="btn_continue" onclick="" class="btn btn-info btn-lg">
                <span class="continueChoosing"></span> Order
            </button>
        
       
        </form>
    </td>
      <td>
        <form action="@Url.Action("emptyCart", "AddToCart")" method="post">
            <button type="submit" id="btn_continue" onclick="" class="btn btn-info btn-lg">
                <span class="continueChoosing"></span> Pay
            </button>
            
           
        </form>
            </td>
</div>