@model IEnumerable<WebApplication1.Models.Item>
@{
    ViewBag.Title = "SoftDrink";
}

<div class="jumbotron">
    <h2>Soft Drinks</h2>

</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }

</table>